<div id="background">
  <div id="container">
    <h1 id="title">Contact Me</h1>

    <div id="contact-info">
      <div id="email">
        <i class="far fa-envelope contact-icon"></i>
        <a href="mailto:squaids449@gmail.com"><p>squaids449@gmail.com</p></a>
      </div>

      <div id="phone">
        <i class="fas fa-phone contact-icon"></i>
        <a href="tel:3038153511"><p>(303) 815-3511</p></a>
      </div>

      <div id="resume">
        <i class="far fa-file-word contact-icon"></i>
        <a href="../../../assets/AndrewTResume.pdf" download
          ><p>Download Resume</p></a
        >
      </div>
    </div>
  </div>
</div>
