<ng-container>
  <mat-sidenav-container id="sidenav-container">
    <mat-sidenav #sidenav id="sidenav" mode="over">
      <i
        class="fas fa-home"
        (click)="showGivenPage('home'); sidenav.close()"
      ></i>
      <ul id="nav-list">
        <li class="nav-item" (click)="showGivenPage('about'); sidenav.close()">
          About
        </li>
        <li
          class="nav-item"
          (click)="showGivenPage('projects'); sidenav.close()"
        >
          Projects
        </li>
        <li
          class="nav-item"
          (click)="showGivenPage('contact'); sidenav.close()"
        >
          Contact
        </li>
      </ul>
    </mat-sidenav>

    <mat-sidenav-content id="list-container">
      <ng-container *ngIf="homeShown">
        <app-home (click)="arrowToAbout()"></app-home>
      </ng-container>
      <ng-container *ngIf="aboutShown">
        <app-about></app-about>
      </ng-container>
      <ng-container *ngIf="projectsShown">
        <app-projects></app-projects>
      </ng-container>
      <ng-container *ngIf="contactShown">
        <app-contact></app-contact>
      </ng-container>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
