@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
#background {
  height: 100%;
  width: 100%;
  background: url("../../../assets/trees.jpg");
  background-size: cover;
}
#container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.452);
  color: white;
}

#title {
  color: white;
  font-family: "Merriweather", serif;
  font-size: 3.3rem;
  margin-right: 3vw;
  opacity: 0;
  animation: fadeIn 1.2s ease-in-out;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

#menuToggle {
  margin: 3% 3%;
  padding: 1vmin 1.25vmin;
  color: white;
  font-size: 3rem;
  transition: 0.15s;
  border: 3px solid transparent;
  border-radius: 50%;
  top: 0;
  left: 0;
  position: absolute;
}

#menuToggle:hover {
  cursor: pointer;
  border-color: white;
}

hr {
  margin: 0;
  margin-right: 8vw;
  height: 70px;
  line-height: 10%;
  border: 1px solid white;
  transform: scaleY(0);
  animation: grow 1.2s ease-in-out;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
}
span {
  display: inline-block;
}
p {
  width: 50%;
  padding: 1rem;
  border-radius: 1%;
  animation: bgFade 1.2s ease;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  background-origin: border-box;
}
a,
a:visited {
  color: rgb(190, 22, 22);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes grow {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes bgFade {
  from {
    background-color: none;
  }
  to {
    background-color: rgba(0, 0, 0, 0.411);
  }
}

@media screen and (max-width: 768px) {
  #menuToggle {
    font-size: 2rem;
  }
  #container {
    flex-flow: column nowrap;
  }
  #title {
    font-size: 2.5rem;
    margin: none;
    padding: none;
  }
  hr {
    visibility: hidden;
  }
  p {
    width: 66%;
    margin-top: 2vmin;
    font-size: 0.8em;
  }
}
