@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
#container {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  text-align: center;
  background: url("../../../assets/river.jpg");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

#content {
  width: fit-content;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 10rem 3rem;
  margin-top: -10vh;
  background: #385223c4;
}

#title {
  text-shadow: 2px 2px 0px rgb(255, 255, 255);
  color: black;
  font-family: "Merriweather", serif;
  font-size: 3.3rem;
  white-space: nowrap;
  border-right: 1px solid transparent;
}

#menuToggle {
  align-self: flex-start;
  margin: 3% 3%;
  padding: 1vmin 1.25vmin;
  color: white;
  font-size: 3rem;
  transition: 0.15s;
  border: 3px solid transparent;
  border-radius: 50%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

#menuToggle:hover {
  cursor: pointer;
  border-color: white;
}

#header-links {
  font-size: 4rem;
}

.fab {
  padding: 0 1vw;
  color: white;
  transition: 0.15s;
}

.fab:hover {
  text-shadow: 4px 4px 0px black;
}

.down {
  color: rgb(0, 0, 0);
  font-size: 6rem;
  margin-top: 30vmin;
  transition: 0.15s;
  text-shadow: 0px 0px 3px white;
}

.down:hover {
  color: white;
  cursor: pointer;
}

::ng-deep .tooltip {
  font-size: 16px;
}

@media screen and (max-width: 1280px) {
  #content {
    padding: 8rem 2rem;
  }
  #title {
    font-size: 2.5rem;
  }
  #header-links {
    font-size: 3rem;
  }
  .down {
    font-size: 5rem;
    margin-top: 27vh;
  }
}

@media screen and (max-width: 768px) {
  #menuToggle {
    font-size: 2rem;
  }
}

@media screen and (max-width: 450px) {
  #content {
    margin-top: 0;
  }
}
