<div id="container">
  <i
    class="fas fa-bars"
    id="menuToggle"
    matTooltipClass="tooltip"
    matTooltip="Open Menu"
    (click)="toggle()"
  ></i>
  <div id="content">
    <h1 id="title">Andrew Thiessen</h1>
    <div id="header-links">
      <a href="https://github.com/Meatmongrel" target="_blank" rel="noopener"
        ><i class="fab fa-github"></i
      ></a>
      <a href="https://twitter.com/AndrewWebDev" target="_blank" rel="noopener"
        ><i class="fab fa-twitter"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/andrewjthiessen/"
        target="_blank"
        rel="noopener"
        ><i class="fab fa-linkedin"></i
      ></a>
    </div>
  </div>
  <i
    class="fas fa-chevron-down down"
    matTooltip="Go to about"
    matTooltipClass="tooltip"
    (click)="goToAbout()"
  ></i>
</div>
