<div id="background">
  <div id="container">
    <i
      class="fas fa-bars"
      id="menuToggle"
      matTooltipClass="tooltip"
      matTooltip="Open Menu"
      (click)="toggle()"
    ></i>
    <h1 id="title">Projects</h1>

    <div id="projects">
      <div class="project-card">
        <a
          href="https://send-the-climb.firebaseapp.com/index.html"
          target="_blank"
          rel="noopener"
          ><h2 class="project-title">Send The Climb</h2></a
        >
        <div class="mobile-container">
          <img
            class="project-image"
            src="../../../assets/climb.PNG"
            alt="Send The Climb"
          />
          <p class="project-description">
            A project to help you find your next climbing project! The app was
            made in vanilla JavaScript and HTML/CSS.
          </p>
        </div>
      </div>

      <div class="project-card">
        <a
          href="https://elematch-game.firebaseapp.com/"
          target="_blank"
          rel="noopener"
          ><h2 class="project-title">EleMatch</h2></a
        >
        <div class="mobile-container">
          <img
            src="../../../assets/elematch.PNG"
            alt="Elematch"
            class="project-image"
          />
          <p class="project-description">
            A match-3 game made entirely in JavaScript using a game engine
            called Phaser. I created the matching algorithm for the game myself
          </p>
        </div>
      </div>

      <div class="project-card">
        <a
          href="https://github.com/Meatmongrel/StratiCast-front"
          target="_blank"
          rel="noopener"
          ><h2 class="project-title">StratiCast</h2></a
        >
        <div class="mobile-container">
          <img
            src="../../../assets/strati.PNG"
            alt="StratiCast"
            class="project-image"
          />
          <p class="project-description">
            A weather app that gets updated data every 10 minutes. This project
            was made in React with a Ruby on Rails backend that employs JWT auth
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
