.fa-home {
  font-size: 2.7rem;
  padding: 2vh 0 0 1.7vw;
  transition: 0.15s color;
}

.fa-home:hover {
  color: white;
  cursor: pointer;
  text-shadow: 0px 0px 3px white;
}

#sidenav-container {
  width: 100%;
  height: 100vh;
}

#sidenav {
  background-color: #2c3e58;
}

#nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin-top: 3vh;
  text-align: center;
}

::ng-deep div.mat-drawer-inner-container {
  /* Removes overflow scroll bar when viewport is small */
  overflow: hidden;
}

.nav-item {
  display: inline;
  padding: 13vh 1vw;
  transition: 0.15s;
  border: 1px solid black;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-item:nth-child(2n) {
  border-color: transparent black;
}

.nav-item:hover {
  color: white;
  cursor: pointer;
  border-color: white;
  box-shadow: 0px 0px 5px white;
}

@media screen and (max-width: 1280px) {
  .fa-home {
    font-size: 2.4rem;
    /* padding-left: 1.6vw; */
  }
  .nav-item {
    padding: 12vh 1vw;
    font-size: 1rem;
  }
}
